.info-orders .title-info-orders {
	margin-bottom: 20px;
	border-bottom: 2px solid #959595;
}

.info-orders .title-info-orders h3 {
	font-size: 18px;
	font-weight: 700;
	padding-bottom: 10px;
	margin: 0;
}

.info-orders .data-table thead {
	background: #f0f7f9;
}

.info-orders .data-table {
	border: none;
}

.info-orders .data-table tr td .cart-item-view-image-special{
	text-align: left;
}

.data-table tr:last-child td .cart_first_wrap {
	text-align: left !important;
}

.info-orders .table > tbody > tr > td{
	vertical-align: 0;
}

.info-orders .data-table tbody tr:nth-child(even), .data-table tr.even {
	background-color: #fff;
}

.info-orders .a-right{
	text-align: center !important;
}

.info-orders .check-data {
	padding: 20px 10px 40px 0;
	text-align: right;
}
.info-orders .check-data span{
	text-decoration: underline;
}



@media (min-width: 631px) and (max-width: 1939px) {
	.screen-small {
		display: none;
	}
}

@media (min-width: 320px) and (max-width: 630px) {
	.screen-large {
		display: none;
	}
	.screen-small {
		font-family: 'Open Sans', sans-serif;
	}
	.screen-small .screen-small-left img {
		width: 90%;
		height: auto;
		padding-top: 30px;
	}
	.screen-small .screen-small-right {
		text-align: left;
		padding-left: 5px;
	}
	.screen-small .screen-small-right span.cart-price {
		margin: 10px 0;
	}
	.screen-small .screen-small-right span.cart-price span.price {
		display: block;
	}
	.screen-small .screen-small-right span.cart-price span.desc-price {
		text-decoration: line-through;
	}
	.screen-small .screen-small-right a.update {
		padding-top: 6px;
	}
	.screen-small .screen-small-right a.delete {
		float: left;
		margin:10px 0;
		display: block;
		color: #100808;
	}
}