.customer_service {
    text-align: left;
    padding-left: 0;
}

.customer_service_id lable {
    width: 100%;
    display: inline-block;
    font-size: 16px;
    margin-bottom: 10px;
}

.breadcrumbs {
    margin: 0 !important;
}

.instock_2 {
    display: inline-block;
    width: 100%;
}

.customer_service_id input {
    width: 80%;
    display: inline-block;
    height: 35px;
    padding-left: 10px;
    margin-bottom: 15px;
}

.wid {
    width: 49%;
    display: inline-block;
    float: left;
}

.customer_service_form span {
    color: #c90000;
}

.customer_service_form {
    padding-top: 40px;
}

.customer_service_id_4 textarea {
    width: 100%;
    height: 150px;
    text-indent: 0;
    padding: 5px 10px;
}

.customer_service_id_4 {
    display: inline-block;
    width: 51%;
}

.customer_service_id_6 button {
    border: none;
    padding: 10px 15px;
    color: #fff;
    background: #004a8d;
}

.customer_service_id_6 {
    margin-bottom: 30px;
}

.customer_service_id_5 {
    margin-top: 30px;
    margin-bottom: 30px;
    display: inline-block;
    width: 100%;
}

.customer_service_id_4 lable {
    display: inline-block;
    width: 100%;
    font-size: 16px;
    margin-bottom: 10px;
}

.customer_service_bg {
    background: #eee;
    padding: 10px;
    border-radius: 3px;
}

.customer_service_bg span:nth-child(2) {
    margin-right: 25px;
    display: inline-block;
}

.customer_service_bg span>b:last-child {
    text-decoration: underline;
}

.login_vstyle {
    text-align: left;
}

.login_vstyle_title {
    margin-bottom: 15px;
}

.login_vstyle div:nth-child(3) {
    padding-left: 0;
}

.login_vstyle_title_col {
    padding: 20px 15px 40px 117px;
}

.login_vstyle_title p {
    border-bottom: 2px solid #959595;
    font-size: 18px;
    padding-bottom: 10px;
}

.login_vstyle_text {
    margin-bottom: 40px;
}

.login_vstyle_form lable {
    width: 100%;
    display: inline-block;
    margin-bottom: 10px;
}

.login_vstyle_form input {
    width: 100%;
    height: 40px;
    padding: 0px 13px;
    margin-bottom: 15px;
    border: 1px solid #888;
}

.login_vstyle_form lable {
    font-size: 15px;
    font-weight: 600;
}

.login_vstyle_form lable span:first-child {
    color: red;
}

div#input_id_2 lable span:last-child {
    float: right;
}

div#input_id_2 lable span:last-child a {
    color: #959595;
    text-decoration: underline;
    font-size: 14px;
}

div.checker,
div.checker span,
div.checker input {
    height: 19px;
    width: 22px;
    float: left;
}

div#input_id_3 {
    text-align: center;
    padding-top: 24px;
}

div#input_id_3 button {
    background: #004a8f;
    color: #fff;
    padding: 10px 30px;
    border: none;
    font-weight: 700;
    font-size: 18px;
}

.login_vstyle_button_register {
    text-align: center;
}

.login_vstyle_button_register a {
    display: inline-block;
    padding: 10px 30px;
    color: #fff;
    background: #004a8f;
    font-weight: 700;
    font-size: 18px;
}

.login_vstyle_title_top {
    margin-top: 50px;
}

.flex-container-justify {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
    z-index: 9;
}

.btn-googleplus {
    background-color: #D34C38;
    color: white;
}

.btn-social {
    border-radius: 0;
    text-align: left;
    display: inline-block;
    margin-bottom: 0;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.42857143;
    white-space: nowrap;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    text-decoration: none;
}

.flex-item-2 {
    width: 49%;
}

.btn-social i {
    border-right: 1px solid #404040;
    width: 3em;
    text-align: center;
    padding: 10px 0;
}

.btn-social:hover i,
.btn-social:hover span {
    color: #000;
}

.btn-social span {
    padding: 10px 12px;
}

.btn-facebook {
    background-color: #3B5997;
    color: white;
}

div.selector.fixedWidth>span {
    width: 178px;
}

.radio_nam span,
.radio_nu span {
    margin-left: 5px;
}

.width_select select {
    width: 100%;
    height: 35px;
    border: 1px solid #888;
}

.width_select {
    width: 30%;
    margin-bottom: 15px;
}

.width_select_2 select {
    width: 100%;
    height: 35px;
    border: 1px solid #888;
}

.width_select_2 {
    width: 30%;
}

.radio_nam {
    float: left;
    width: 13%;
}

.radio_nam div,
.radio_nu div {
    margin: 0;
}

.input_sex {
    margin-bottom: 20px;
}

.login_vstyle_title p {
    font-size: 16px;
}

.login_vstyle_text p {
    font-size: 16px;
}

.button_cart_tt a {
    width: 100%;
    padding: 8px 0;
    background: #004a8f;
    color: #fff;
    display: inline-block;
    text-align: center;
    font-size: 18px;
}

.button_cart_tt {
    margin-bottom: 30px;
}

.payment_border {
    border: 1px solid #d9d9d9;
    padding: 15px 0px;
}

.payment_vstyle {
    text-align: left;
}

.payment_title {
    padding: 0 30px;
    border-bottom: 1px solid #d9d9d9;
    padding-bottom: 30px;
    padding-top: 10px;
}

.payment_title div:first-child {
    background: #004a8f;
    display: inline-block;
    width: 25px;
    height: 25px;
    text-align: center;
    line-height: 25px;
    color: #fff;
    font-weight: 700;
    font-size: 18px;
    margin-right: 10px;
    float: left;
    margin-top: 10px;
}

.payment_title div:last-child {
    font-size: 30px;
    display: inline-block;
}

.payment_form {
    padding: 20px;
    border-bottom: 1px solid #d9d9d9;
    margin-bottom: 15px;
}

.payment_button {
    text-align: right;
}

.payment_button a {
    padding: 8px 60px;
    background: #004a8f;
    display: inline-block;
    color: #fff;
    font-size: 18px;
}

.payment_form lable {
    width: 100%;
    display: inline-block;
    text-transform: uppercase;
}

.payment_form_1 {
    width: 46%;
    display: inline-block;
    margin-right: 37px;
}

.payment_form div:nth-child(2),
.payment_form div:nth-child(7) {
    margin-right: 0px;
}

.payment_form input {
    width: 100%;
    display: inline-block;
    height: 35px;
    margin-bottom: 20px;
    padding: 0 10px;
    border: 1px solid #888;
}

.payment_form_2 {
    display: inline-block;
    width: 32.6%;
}

.payment_form_2 span {
    width: 222px !important;
    border: 1px solid #888 !important;
}

.payment_title_2 {
    padding-top: 25px;
    border: 0;
    padding-bottom: 14px;
}

.payment_col_5_title>p {
    font-weight: 700;
    font-size: 16px;
    text-transform: uppercase;
}

.payment_border_2 {
    border: 1px solid #d9d9d9;
    padding: 15px 0;
    display: inline-block;
}

.payment_col_5_title {
    padding-left: 25px;
}

.payment_all_1,
.payment_all_2 {
    display: inline-block;
    width: 100%;
}

.payment_all_border {
    border-right: 1px solid #d9d9d9;
    margin-top: 20px;
}

.payment_img img {
    width: 100%;
}

.payment_button_00 {
    text-align: center;
    margin-top: 20px;
}

.payment_all_border_2 {
    margin-top: 20px;
}

.cc__info-label {
    font-weight: 600;
    font-size: 18px;
    border-bottom: 1px solid #d9d9d9;
    padding-bottom: 5px;
    margin-bottom: 15px;
    display: inline-block;
    width: 100%;
}

p.cc__notice {
    text-align: center;
    font-size: 13px;
}

.cc__notice_2 {
    font-size: 13px;
    font-weight: 600;
}

.cc_form-wrapper {
    background: #eee;
    padding: 15px;
}

.cc_form-wrapper label {
    font-size: 13px;
    font-weight: 100;
}

.form-stacked__half {
    display: inline-block;
    width: 60%;
    float: left;
}

.cc_form-wrapper input {
    width: 100%;
    height: 35px;
    margin-bottom: 20px;
    border: 1px solid #888;
}

.form-stacked__half div.selector.fixedWidth>span {
    width: 80px;
    height: 35px;
    border: 1px solid #888;
}

.form-stacked__half div.selector>span {
    background: url('../images/sprite_uniform.png') no-repeat scroll 44px 10px #FFFFFF;
    color: #000;
}

.form-stacked__half_2 {
    width: 38%;
    display: inline-block;
}

.class_mg {
    padding: 39px;
    padding-bottom: 0;
    font-size: 13px;
    padding-right: 0;
}

.class_mg label {
    font-weight: 100;
}

.click_none_tt_cart {
    display: none;
}

.click_none_tt_cart_2 {
    display: inline-block;
    width: 100%;
    border-bottom: 1px solid #d9d9d9;
    padding-bottom: 30px;
}

.s_product span:first-child {
    margin-right: 18px;
}

.s_product b {
    color: #004af8;
}

.img_product img {
    width: 100%;
    height: auto;
}

.banner_mp {
    position: relative;
    display: none;
}

.banner_all {
    display: inline-block;
    width: 100%;
}

.payment_form_none {
    display: none;
}

.form-stacked__half_2222 i {
    color: #007f88;
}

.pt_products_1 span {
    font-weight: 600;
    font-size: 15px;
}

.pt_products {
    display: inline-block;
    width: 100%;
    background: #eee;
    padding: 17px;
}

.bg_pt_products {
    padding: 0 10px;
}

.pt_products_1,
.pt_products_2 {
    text-transform: uppercase;
}

.pt_products_2 {
    font-weight: 700;
}

p.pt_products_1>span:first-child {
    margin-right: 20px;
    display: inline-block;
}

p.pt_products_2>span:first-child {
    margin-right: 40px;
    display: inline-block;
}

p.pt_products_2>span:last-child {
    color: #c90000;
}

.pre_none_inline,
.click_xn_none {
    display: none;
}

.click_xn_inl {
    display: inline-block;
    width: 100%;
}

p.cc__notice img {
    width: 100%;
    height: auto;
    max-width: 90px;
}

.blog_vstyle_sidebal_img img {
    width: 100%;
    height: auto;
    max-width: 80px;
}

.blog_vstyle_sidebal_img {
    float: left;
    margin-right: 10px;
}

.blog_vstyle_sidebal_title h4 {
    font-size: 14px;
    font-weight: 700;
    text-transform: lowercase;
}

.blog_vstyle_sidebal {
    display: inline-block;
    border: 1px solid #d9d9d9;
    width: 100%;
}

.blog_vstyle_sidebal_title_01 h4 {
    margin: 0;
    padding: 11px 0;
    text-align: center;
    margin-bottom: 10px;
    border-bottom: 1px solid #d9d9d9;
}

.blog_vstyle_sidebal_date p {
    margin: 0;
}

.pd_blog_vstyle_sidebar {
    padding: 0 5px;
    margin-bottom: 15px;
    display: inline-block;
    width: 100%;
}

.order_success {
    text-align: center;
}

.order_success_title h1 {
    font-size: 22px;
    text-transform: uppercase;
    font-weight: 700;
    color: #004a8f;
}

.order_success_2 {
    border-bottom: 1px solid #c3cbd5;
    display: inline-block;
    padding-bottom: 20px;
    width: 100%;
}

div#MagicToolboxSelectors166017 {
    text-align: center;
}

.container_width {
    width: 730px;
}

.order_success_2 img {
    max-width: 100px;
    max-height: 73px;
}

.col_email_icon {
    position: relative;
}

.nofollow_color {
    background: #000;
}

.nofollow_color_1 {
    background: yellow;
}

.col_email_icon:after {
    background: url('../images/next.PNG');
    content: '';
    position: absolute;
    right: 0;
    top: 25%;
    width: 20px;
    height: 20px;
    background-size: cover;
    background-position: center center;
}

.payment_form_2 select {
    width: 100%;
    height: 35px;
    margin-bottom: 20px;
}

div#input_id_03 input {
    max-width: 15px;
    float: left;
}

div#input_id_03 span {
    margin-top: 14px;
    display: inline-block;
    margin-left: 6px;
}

div#input_id_001 select {
    width: 32.8%;
    height: 35px;
    margin-bottom: 15px;
}

div#input_id_002 input {
    max-width: 15px;
    display: inline-block;
}

.form-stacked__half select {
    width: 44%;
    height: 35px;
    border: 1px solid #888;
}

.order_success_fa_i_2 a {
    color: #000;
    text-decoration: underline;
    font-size: 14px;
}

.order_success_fa_i_2 i {
    color: #000;
    font-size: 14px;
}

.order_success_fa_i_2 img {
    width: 100%;
    height: auto;
    max-height: 25px;
    max-width: 25px;
}

.order_success_2:last-child {
    border: none;
}

.blog_vstyle_img img {
    width: 100%;
    height: auto;
    max-height: 350px;
}

.blog_vstyle_container {
    width: 1143px;
    margin-bottom: 40px;
}

.blog_vstyle_title h4 {
    font-weight: 700;
}

.blog_vstyle_button_see_more a {
    background: #004a8f;
    padding: 5px 10px;
    display: inline-block;
    color: #fff;
}

.blog_vstyle>div {
    margin-bottom: 25px;
}

.blog_vstyle_content img {
    max-width: 100%;
}

.radio_nam input,
.radio_nu input {
    float: left;
    margin: 0 !important;
    margin-top: -9px !important;
    margin-left: 1px !important;
}

@media (min-width: 0px) and (max-width: 768px) {
    .banner_mp {
        display: inline-block;
        width: 100%;
    }
    .category_home {
        display: block;
        position: absolute;
        top: 40%;
        left: 40%;
        width: 100%;
        z-index: 10;
    }
    .banner_center {
        margin-bottom: 10px;
    }
    .banner_all div:nth-child(1) {
        margin-bottom: 5px;
    }
    .category_home_2 {
        display: block;
        position: absolute;
        top: 40%;
        left: 34%;
        width: 100%;
        z-index: 10;
    }
    div#input_id_1 .selector.fixedWidth {
        width: 32%;
    }
    div#input_id_1 .selector.fixedWidth span {
        width: 100%;
    }
    .login_vstyle_title_col {
        padding: 0;
        margin-bottom: 40px;
        padding-top: 15px;
    }
    .payment_form_1 {
        width: 100%;
        display: inline-block;
        margin-right: 37px;
    }
    .payment_form_2 {
        display: inline-block;
        width: 33%;
    }
    .payment_form_2 .selector.fixedWidth {
        width: 100%;
    }
    .payment_form_2 span {
        width: 100% !important;
        border: 1px solid #888 !important;
    }
    .col-md-6.col-sm-6.login_vstyle_title_col.login_vstyle_title_col_2 {
        padding-left: 20px;
    }
}

@media (min-width: 0) and (max-width: 767px) {
    .MagicToolboxContainer.selectorsBottom.minWidth {
        max-width: 300px;
        display: inline-block;
        margin-bottom: 20px;
    }
    .product-view .product-img-box,
    .product-view .product-shop {
        text-align: center;
    }
    .login_vstyle {
        padding: 0 15px;
    }
    span.instock {
        float: none;
    }
    .colL {
        float: none;
        display: inline-block;
    }
    .colL-1 {
        display: inline-block;
        float: none;
        width: 31%;
    }
    p.final-price.final-price_1 {
        padding: 0;
    }
    .pdp-final-price {
        padding: 15px;
    }
    .icon_002 img {
        float: none;
    }
    .social-share-buttons-pdp {
        display: inline-block;
    }
    .product-view .product-shop p,
    .product-view .product-shop .ratings {
        margin: 0;
        font-size: 13px;
        display: inline-block;
        float: none;
    }
    .payment_border_2 {
        border: 1px solid #d9d9d9;
        padding: 15px 0;
        display: inline-block;
        margin: 15px 0;
    }
    .col-md-6.col-sm-6.login_vstyle_title_col.login_vstyle_title_col_2 {
        padding-left: 0px;
    }
    .shopping_none_1 {
        display: none;
    }
    li.cart-item-view-image {
        float: left;
    }
    span.cart-price {
        display: block;
    }
    .pre_none_inline {
        display: inline-block;
        width: 100%;
    }
    a.btn-remove.btn-remove2 {
        float: right;
        margin-top: -89px;
    }
    li.a-center.cart-item-view-qty {
        text-align: left !important;
    }
    .cart .cart-collaterals {
        width: 100%;
        padding: 20px 0 10px;
        display: inline-block;
        float: left;
    }
    .cart .deals {
        float: left;
        width: 100%;
        display: inline;
        font-size: 12px;
        background: #eee;
        padding: 15px;
    }
    .cart .totals {
        float: right;
        width: 100%;
        padding: 23px 15px 0 15px;
        font-size: 14px;
    }
    .click_category_inline {
        top: 6%;
    }
}

@media (min-width: 0) and (max-width: 500px) {
    .email_form {
        float: none;
        width: 100%;
        text-align: center;
    }
    .email_form p {
        color: #fff;
        text-align: center;
        font-size: 14px;
        margin-bottom: 7px;
    }
    .banner_all div:nth-child(1) {
        margin-bottom: 0;
    }
    .banner_center {
        margin-bottom: 5px;
    }
    .login_vstyle_title_col {
        padding: 0;
        margin-bottom: 40px;
    }
    .category_home {
        left: 33%;
        top: 32%;
    }
    .category_home_2 {
        top: 30%;
        left: 23%;
    }
    .payment_form_2 {
        display: inline-block;
        width: 32.6%;
    }
    .cart .title-buttons {
        padding-right: 0;
        display: inline-block;
        margin-bottom: 27px;
    }
    ul.checkout-types a {
        background: #004a8f;
        padding: 11px 19px;
        color: #fff;
        font-size: 15px;
    }
    thead.first_last_2 {
        display: none;
    }
}

@media(min-width: 0) and (max-width: 375px) {
    .category_home {
        display: block;
        position: absolute;
        top: 28%;
        left: 31%;
        width: 100%;
        z-index: 10;
    }
    .category_home_2 {
        display: block;
        position: absolute;
        top: 28%;
        left: 20%;
        width: 100%;
        z-index: 10;
    }
    .payment_form_2 {
        display: inline-block;
        width: 32.5%;
    }
    .payment_title div:last-child {
        font-size: 28px;
        display: inline-block;
    }
    ul.checkout-types a {
        background: #004a8f;
        padding: 11px 9px;
        color: #fff;
        font-size: 13px;
    }
    .pgn-sortWrapper {
        width: 281px;
        display: inline-block;
        text-align: left;
        float: left;
    }
    .b-catalogList__sortLabel {
        font-size: 12px;
        font-weight: 700;
        text-transform: uppercase;
        margin: 0 5px 0 0;
        display: inline-block;
        float: left;
        margin-top: 8px;
        width: 30%;
    }
    div#click_category {
        margin-left: 0;
    }
}

@media (min-width:0) and (max-width: 320px) {
    .category_home {
        top: 23%;
        left: 27%;
    }
    .category_home_2 {
        top: 22%;
        left: 15%;
    }
    span.cart-price {
        clear: both;
    }
    .b-catalogList__sortLabel {
        display: none;
    }
    .pgn-sortWrapper {
        width: 245px;
        display: inline-block;
        text-align: left;
        float: left;
    }
}

@media(max-width: 768px) {
    .container_width {
        width: 100%;
    }
}

div#slider_home .owl-dots {
    position: absolute;
    bottom: 0;
    left: 0;
    display: inline-block !important;
    text-align: center;
    width: 100%;
}

.owl-nav div.owl-prev {
    background: url(../images/left-arrow.png) no-repeat !important;
    color: rgba(0, 0, 0, 0.8);
    cursor: pointer;
    display: block;
    height: 42px;
    margin: -20px 0 0;
    overflow: hidden;
    position: absolute;
    top: 50%;
    transition: all 0.3s ease 0s;
    width: 71px;
    z-index: 3;
    background-size: 43px !important;
}

.owl-nav div.owl-next {
    background: url(../images/right-arrow.png) no-repeat !important;
    color: rgba(0, 0, 0, 0.8);
    cursor: pointer;
    display: block;
    height: 42px;
    margin: -20px 0 0;
    overflow: hidden;
    position: absolute;
    top: 50%;
    right: 15px;
    transition: all 0.3s ease 0s;
    width: 71px;
    z-index: 3;
    background-size: 43px !important;
}

.disabled:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99;
    background: none !important;
    opacity: 0.2;
}

.owl-theme .owl-nav .disabled {
    opacity: 1 !important;
}

.product-essential {
    float: none !important;
}

.modal-dialog {
    width: 600px !important;
    margin: 30px auto;
}

.product-img-box {
    width: 50%;
    float: left;
}

p.product-image.product-image-zoom.main-image-view img {
    width: 100%;
}

ul#media-gallary-view li {
    float: left;
}

ul#media-gallary-view {
    display: inline-block;
}

.product-shop {
    text-align: left;
}

.product-main-info {
    height: 100%;
}

.add-to-box_button a {
    display: inline-block;
    padding: 4px 15px;
    font-size: 18px;
    color: #fff;
    background: #004a8f;
}

.modal-body {
    position: relative;
    padding: 15px;
    display: inline-block;
}

.price-shipping-info ul li {
    display: inline-block;
    color: #808080;
    font-weight: 400;
    font-size: 13px;
    width: 49%;
    padding: 0;
    float: none;
}

.price-shipping-info ul li label {
    width: 50%;
}