.mng_vstyle_title_h1 {
	margin-bottom: 40px;
	padding:0;
	font-weight: bold;
}
// .col-lg-3.col-md-3.col-sm-12.col-xs-12.mng-cnt {

// }
.login_vstyle .mng-cnt {
	padding: 0 0 0 15px !important;
}

.mng-cnt ul li a{
	color: #273038;
	word-spacing:2px;
	line-height: 30px;
}

.mng-cnt ul li a span.mng-act{
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
}

.mng-cnt ul li a span.mng-act:hover {
	font-weight: bold;
	color: #251111;
}

.mng-cnt span.click {
	font-weight: 700;
}

.mng-info {
	margin-bottom: 20px;
}

.mng-info table caption.capt,
.mng-addr .addr-title{
	border-bottom: 2px solid #959595;
	padding-top: 0;
	margin-bottom: 30px;
}

.mng-info table caption.capt h3,
.mng-addr .addr-title h3{
	margin:0;
	color: #080505;
	font-weight: 500;
	font-size: 18px;
}

.mng-info table caption.capt h3{
	padding-bottom: 10px;
}

.mng-info table tbody td{
	width: 120px;
	padding-left: 0 !important;
}

.mng-info div.change_info {
	float: left;
	margin-top: 20px;
}

.mng-info a.btn-change {
	background-color: #004a8f;
	font-weight: 700;
	color: #fff;
	font-size: 18px;
	padding: 10px 30px;
}
.mng-info a.btn-change:hover {
	background-color: #0068c8;

}
/*form thông tin giao hàng*/
.mng-addr label {
	font-weight: 600;
	font-size: 13px;
	margin-bottom: 10px;
}

.mng-addr label span{
	color: red;
}

.mng-addr .addr-title h3{;
	padding-bottom: 18px;
}

.mng-addr input{
	width: 270px;
	height: 35px;
	padding:10px 10px;
	margin:0;
}

.mng-addr DIV.selector {
	height: 50px;
}

.mng-addr .input_customer{
	margin-bottom: 23px;
	margin-left: 10px;
}

.mng-addr .province,
.mng-addr .wards {
	float: left;
	padding: 0;
	margin-left: 10px;
}

.mng-addr .district {
	clear: both;
	padding: 0;
	margin-left: 10px;
}

.mng-addr #input_save_addr{
	margin-top: 15px;
	margin-bottom: 40px;
	float: left;
}

.mng-addr #input_save_addr button{
	background-color: #004a8f;
    font-weight: 700;
    color: #fff;
    font-size: 18px;
    padding: 10px 30px;
    margin-left: 10px;
    border: 2px solid #004a8f;
}
.mng-addr #input_save_addr button:hover {
	background-color: #0068c8;
	border: 2px solid #0068c8;
}

@media (max-width: 414px) {
	.mng-info a.btn-change,
	.mng-addr #input_save_addr button {
		padding: 5px 5px;
		font-size: 14px;
	}
}