
.info-orders .btn_adj {
	margin-bottom: 5px;
}

.info-orders .btn_adj button {
	font-weight: 700;
	padding: 10px 20px;
	margin-left: 10px;
	font-size: 14px;
	width: 200px;
}

.info-orders .data-table .btn_adj .btn_add {
	background-color: #004a8f;
	color: #fff;
	font-weight: 700;
	border: 2px solid #004a87;
}
.info-orders .data-table .btn_adj .btn_add:hover {
	background-color: #0068c8;
	border: 2px solid #0068c8;
}

.info-orders .data-table .btn_adj .btn_edit {
	background-color: #fff;
	color: #004a8f;
	font-weight: 700;
	border: 2px solid #004a87;
}
.info-orders .data-table .btn_adj .btn_edit:hover {
	background-color: #0068c8;
	color: #fff;
	border: 2px solid #0068c8;
}

.info-orders .btn_align {
	margin-top: 20px;
	margin-bottom: 40px;
	text-align: right;
}

.info-orders .btn_align #btn_add_all {
	width: 250px;
	background-color: #004a8f;
	color: #fff;
	border: 2px solid #004a8f;
}
.info-orders .btn_align #btn_add_all:hover {
	background-color: #0068c8;
	border: 2px solid #0068c8;
}

.screen-large img.loaded {
	text-align: left;
}

@media (min-width: 631px) and (max-width: 744px) {
	.screen-large .btn_adj button{
		font-weight: 600;
		padding: 5px 5px;
		margin-left: 0px;
		font-size: 7px;
		width: 100px;
	}
	.info-orders .btn_align #btn_add_all {
		width: 190px;
		font-size: 10px;
		border: 2px solid #004a8f;
	}
	.data-table tr:last-child th {
		text-align: left !important;
	}
	.screen-large .cart_first_wrap {
		text-align: left;
	}
	.screen-large tr.first.last th {
		font-size: 12px;
	}
	.screen-large a.btn-remove2 {
		margin-top: 0;
		float: none;
	}
}

@media (min-width: 745px) and (max-width: 1939px) {
	.screen-large .btn_adj button{
		font-weight: 600;
		padding: 7px 12px;
		margin-left: 10px;
		font-size: 10px;
		width: 150px;
	}	
}

@media (min-width: 320px) and (max-width: 630px){
	.screen-small .btn_adj {
		margin-top: 10px;
	}
	.screen-small .btn_adj button {
		font-weight: 600;
		padding: 7px 12px;
		margin-left: 0;
		font-size: 10px;
		width: 150px;
	}
	.screen-small button.btn_add {
		background-color: #004a8f;
		color: #fff;
		font-weight: 600;
		border: 2px solid #004a8f;
	}
	.screen-small button.btn_add:hover {
		background-color: #0068c8;
		border: 2px solid #0068c8;
	}
	.screen-small button.btn_edit {
		background-color: #fff;
		color: #004a8f;
		font-weight: 600;
		border: 2px solid #004a8f;
	}
	.screen-small button.btn_edit:hover {
		background-color: #0068c8;
		color: #fff;
		border: 2px solid #0068c8;
	}
	.screen-small img.loaded {
		width: 95%;
		height: auto;
	}
}